<html>
  <body>
    <form action="" method="post" enctype="multipart/form-data">
      <fieldset>
        <label for="httpmethod">Method</label>
        <input type="text" id="method" name="method" placeholder="Enter http method">
        <br/>
        <label for="url">Endpoint</label>
        <input type="text" id="urlvalue" name="url" placeholder="Enter url endpoint">
        <br/>
        <label for="userID">userID</label>
        <input type="text" id="userIDValue" name="userID" placeholder="Enter UUID">
        <label for="currentDB">currentDB</label>
        <input type="text" id="currentDBValue" name="currentDB" placeholder="Enter currentDB">
        <label for="mode">Mode</label>
        <input type="text" id="modevalue" name="mode" placeholder="Enter Match to perform a match, enter ToDatabase to upload to database">
        <br/>
        <input type="file" name="thumbnail">                      
        </fieldset>
        <br/>
        <input type="submit" value="Create"/> 
    </form>  
  </body>
</html>  