<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Oxygen'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>  
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <form method="post" action="upload" enctype="multipart/form-data">
      <fieldset>
        <label for="httpmethod">Method</label>
        <input type="text" id="method" name="method" placeholder="Enter http method">
        <br/>
        <label for="url">Endpoint</label>
        <input type="text" id="urlvalue" name="url" placeholder="Enter url endpoint">
        <br/>
        <label for="userID">userID</label>
        <input type="text" id="userIDValue" name="userID" placeholder="Enter UUID">
        <br/>
        <label for="currentDB">currentDB</label>
        <input type="text" id="currentDBValue" name="currentDB" placeholder="Enter currentDB">
        <br/>
        <label for="mode">Mode</label>
        <input type="text" id="modevalue" name="mode" placeholder="Enter Match to perform a match, enter ToDatabase to upload to database">
        <br/>
        <label for="fileupload">File upload</label>
        <input type="file" id="fileinput" name="fileUploaded">                      
        <br/>
        <input type="submit">
      </fieldset>   
    </form>  
  </body>
</html>  