<!DOCTYPE html>
<html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>HM Api Calls</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Oxygen'>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="shortcut icon" href="">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/datatables.min.css"/>
  <style>
  table, th, td {
    border: 1px solid black;
  }
  </style>    
  </head>
  <body>
    <nav class="navbar navbar-inverse"></nav>
      <div class="container">
        <div class="page-header">
          <h1>Halberd Technologies, LLC</h1>
          <h2>API Results</h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <table id="empTable" class="display" width="100%" cellspacing="3">
              <thead>
                <tr>
                  <th>File Name</th>
                  <th> User ID </th>
                  <th> Current Database </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>6712c44f-9d04-498b-ac68-c1538ad72408_-10_-1_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>
                <tr>
                  <td>6712c44f-9d04-498b-ac68-c1538ad72408_-20_-2_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>
                <tr>
                  <td>6712c44f-9d04-498b-ac68-c1538ad72408_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>
                <tr>
                  <td>6712c44f-9d04-498b-ac68-c1538ad72408_10_1_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr> 
                <tr>
                  <td>6712c44f-9d04-498b-ac68-c1538ad72408_20_2_.bmp</td>
                  <td>testfolder</td>
                  <td>VPNVerify888</td>
                </tr>
                <tr>
                  <td>"8699238a-3d32-47e4-a314-1c780aa3b59f_-10_-1_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>        
                <tr>
                  <td>8699238a-3d32-47e4-a314-1c780aa3b59f_-20_-2_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>        
                <tr>
                  <td>8699238a-3d32-47e4-a314-1c780aa3b59f_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>        
                <tr>
                  <td>8699238a-3d32-47e4-a314-1c780aa3b59f_10_1_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>
                <tr>
                  <td>8699238a-3d32-47e4-a314-1c780aa3b59f_20_2_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>        
                <tr>
                  <td>8f315f49-b42a-4da0-9361-dd03dd61c6f4_-10_-1_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>
                <tr>
                  <td>8f315f49-b42a-4da0-9361-dd03dd61c6f4_-20_-2_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>        
                <tr>
                  <td>8f315f49-b42a-4da0-9361-dd03dd61c6f4_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>
                <tr>
                  <td>8f315f49-b42a-4da0-9361-dd03dd61c6f4_10_1_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>
                <tr>
                  <td>8f315f49-b42a-4da0-9361-dd03dd61c6f4_20_2_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>      
                <tr>
                  <td>b0384360-50da-4ff5-b31c-ccf05486dd80_-10_-1_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>      
                <tr>
                  <td>b0384360-50da-4ff5-b31c-ccf05486dd80_-20_-2_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>      
                <tr>
                  <td>b0384360-50da-4ff5-b31c-ccf05486dd80_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>      
                <tr>
                  <td>b0384360-50da-4ff5-b31c-ccf05486dd80_10_1_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>      
                <tr>
                  <td>b0384360-50da-4ff5-b31c-ccf05486dd80_20_2_.bmp</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr> 
                <tr>
                  <td>list.mdb</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>             
                <tr>
                  <td>list.mdb.save</td>
                  <td>testFolder</td>
                  <td>VPNVerify888</td>
                </tr>                                                                 
              </tbody>
              <tfoot>
                <tr>
                  <th>File Name</th>
                  <th> User ID </th>
                  <th> Current Database </th>
                </tr>
              </tfoot>
            </table>                
          </div>  
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <script type="text/javascript">
      $(document).ready(function() {
        $('#empTable').dataTable({
          "ajax": "empdata.json",
          "columns": [
            {"data": "name"},
            {"data": "userID"},
            {"data": "currentDatabase"},
          ]
        });
      });
      </script>  
      <nav class="navbar navbar-inverse navbar-fixed-bottom"></nav>   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/calls2.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/datatables.min.js"></script>
  </body>
</html>