.page-header {
  position:relative;
  background-image: url("../images/halberd-eye.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #e6ffff;
},
body {
  font-family: 'Oxygen', sans-serif;
},
table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: black;
},
td {
  vertical-align: inherit;
}