.page-header {
  position:relative;
  background-image: url("../images/halberd-eye.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #e6ffff;
},
body {
  font-family: 'Oxygen', sans-serif;
},
table, th, td {
  border-spacing: 4px solid black;
}