.page-header {
  position:relative;
  background-image: url("../images/halberd-eye.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #e6ffff;
},
.header {
  font-family: Arial;
  background-color: DarkBlue;
  color: white;
  margin-top: 2em;
  padding: .25em;
  border-top: 1pt solid SteelBlue;
  border-bottom: 1pt solid SteelBlue;
},
body {
  font-family: 'Oxygen', sans-serif;
},
table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: black;
}